[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "0.2"
langchain-openai = "*"
langchainhub = "*"
shell = "*"
flask = "*"
pyodbc = "*"
flask-sqlalchemy = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.*"
